#main-container {
    background-image: url('./assets/img/main-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;
    overflow-y: scroll;
}