@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* ceci est la feuille de style de mon escape game, le style est retro et informatique */

:root {
    --computer-font: 'VT323', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--conputer-font);
    color: #fff;
}

body {
    background-color: #000;
    color: #fff;
    font-family: var(--computer-font);
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}